* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: arial, sans-serif;
  background-color: #2fa34f;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*--- Login ---*/
.login-contenedor {
  width: 100%;
  height: 100%;
  padding: 3%;
  background-color: #2fa34f;
}
.login-formulario {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0 0 0;
  text-align: center;
}

.login-title {
  color: white;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  text-decoration-line: underline;
  margin-bottom: 60px;
}

.login-label {
  height: 60px;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.login-input {
  width: 30%;
  height: auto;
  padding: 10px;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  color: #0e7023;
}
.login-pass-label {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-decoration-line: underline;
}
.login-boton {
  width: 30%;
  background: #fff;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 80px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #0e7023;
  font-size: 20px;
}

.login-boton:hover {
  background: #e5e5e5;
  color: #0e7023;
}

.logo-balon {
  height: 10%;
  width: 10%;
  margin: 0;
  padding: 0;
  float: left;
  background-color: none;
  background-image: none;
  border-radius: 100%;
}

.logo-player {
  height: 30%;
  width: 30%;
  margin-top: -25%;
  margin-left: 10%;
  z-index: -1;
}

/*--- Selector ---*/
.selector-contenedor {
  width: 100%;
  height: 100%;
  padding: 3%;
  background-color: #2fa34f;
  text-align: center;
  align-items: center;
}

.selector-navbar-boton {
  width: 15%;
  background: #fff;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 80px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #0e7023;
  font-size: 16px;
}
.selector-navbar-logo-balon {
  height: 15%;
  width: 15%;
  float: left;
  background-color: none;
  background-image: none;
  border-radius: 100%;
}

.selector-logo {
  height: 15%;
  width: 15%;
  background-color: white;
  border-radius: 100%;
  margin-bottom: 10%;
}

.selector-select {
  text-align: center;
  width: 90%;
  margin: 0% 5%;
  transition: 0.3s ease all;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1.5% 5%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #fff;
  color: #0e7023;
}

/*--- Lista De Partidos ---*/
.partidos-contenedor {
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  padding: 0 5%;
}

.partidos-navbar {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.partidos-nav-izq {
  width: 30%;
  float: left;
}
.partidos-nav-der {
  width: 70%;
  float: right;
}
.partidos-nav-volver {
  float: left;
  width: 22%;
  background: #fff;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #0e7023;
}
.partidos-nav-mios {
  width: 50%;
  padding: 1.3%;
  float: left;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #0e7023;
}
.partidos-nav-crear {
  text-align: center;
  float: right;
  width: 45%;
  padding: 1%;
  background: #fff;
  border: none;
  border-radius: 80px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #0e7023;
}
.partidos-nav-crear-icon {
  float: left;
  width: 10%;
  height: 10%;
}

.partidos-nav-icon {
  height: 50%;
  width: 30%;
}

.partidos-card {
  border-radius: 10px;
  margin-bottom: 2%;
  width: 100%;
  height: 100%;
  padding: 5% 10%;
  text-align: center;
  align-items: center;
  background: #fff;
  font-weight: bold;
  font-family: Arial, sans-serif;
  color: #0e7023;
}

.partidos-card-header {
  padding: 1% 5%;
  width: 100%;
  margin-bottom: 10%;
  text-align: justify;
}
.partidos-card-header-titulo {
  width: 55%;
  float: left;
}

.partidos-card-header-filtro {
  width: 45%;
  float: right;
}
.partidos-card-header-filtro-select {
  text-align: center;
  width: 100%;
  margin: 0% 5%;
  transition: 0.3s ease all;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1.5% 5%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #0e7023;
}

.partidos-card-partidos {
  width: 100%;
  height: 450px;
  background: #f8f8f8;
  border-radius: 80px;
  margin: 5% 0%;
}

.partidos-card-partidos-titulo {
  padding: 3% 0%;
  text-align: center;
  margin-bottom: 50px;
}

.partidos-card-partidos-equipos {
  width: 100%;
  margin: 0% 1%;
  padding: 0% 15%;
}

.partidos-card-partidos-equipo-izq {
  float: left;
}
.partidos-card-partidos-equipo-der {
  float: right;
}

.partidos-card-partidos-boton {
  margin-top: 5%;
  width: 100%;
  padding: 5% 5%;
  background: #0d7229;
  border: none;
  border-radius: 80px;
  cursor: pointer;
  transition: 0.3s ease all;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #fff;
}

/*--- Mis Partidos ---*/
.misPartidos-nav {
  width: 50%;
  padding: 1.3%;
  float: left;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 80px;
  color: #0e7023;
}
.misPartidos-header {
  padding: 1% 5%;
  width: 100%;
  margin-bottom: 10%;
}

.misPartidos-header-titulo {
  float: left;
}
.misPartidos-header-filtros {
  text-align: center;
  float: right;
  width: 25%;
  margin: 0% 5%;
  transition: 0.3s ease all;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 1.5% 5%;
  font-size: 1.25rem;
  cursor: pointer;
  background-color: #f8f8f8;
  color: #0e7023;
}

/*--- Crear Partido ---*/
.crearPartido-nav {
  width: 50%;
  padding: 1.3%;
  float: left;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 80px;
  color: #0e7023;
}
.crearPartido-formulario {
  max-height: 600px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0 0 0;
  text-align: center;
}

.crearPartido-label {
  height: 60px;
  font-weight: bold;
  font-size: 16px;
}

.crearPartido-input {
  width: 100%;
  height: auto;
  padding: 10px;
  border: 2px solid #d1d1d1;
  border-radius: 20px;
  color: #0e7023;
}

.crearPartido-recuadro-boton {
  text-align: center;
  height: auto;
}

.crearPartido-boton {
  width: 30%;
  background: #0d7229;
  display: inline-block;
  padding: 20px;
  border: none;
  border-radius: 80px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: 0.3s ease all;
  color: #fff;
  font-size: 20px;
}

.crearPartido-boton:hover {
  background: #e5e5e5;
  color: #0e7023;
}
