/* Desktop - 1 */

position: relative;
width: 1440px;
height: 1024px;

background: #2FA34F;


/* Soccer App */

position: absolute;
width: 616px;
height: 75px;
left: 412px;
top: 120px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 80px;
line-height: 120px;
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;



/* Button */

position: absolute;
width: 552px;
height: 120px;
left: 445px;
top: 681px;



/* Rectangle 1 */

position: absolute;
width: 552px;
height: 120px;
left: 445px;
top: 681px;

background: #FFFFFF;
border-radius: 80px;


/* Ingresar */

position: absolute;
width: 193px;
height: 81px;
left: 624px;
top: 700.43px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 54px;
line-height: 81px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #0D7229;



/* image 2 */

position: absolute;
width: 113.54px;
height: 100px;
left: 464px;
top: 691px;

background: url(image.png);
border-radius: 50px;


/* image 1 */

position: absolute;
width: 370px;
height: 468px;
left: 100px;
top: 490px;

background: url(image.png);


/* Password */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 460px;



/* Rectangle 1 */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 460px;

background: #FFFFFF;
border-radius: 20px;


/* Contraseña */

position: absolute;
width: 184px;
height: 54px;
left: 483px;
top: 463px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #0D7229;



/* Password */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 460px;



/* Rectangle 1 */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 460px;

background: #FFFFFF;
border-radius: 20px;


/* Contraseña */

position: absolute;
width: 184px;
height: 54px;
left: 483px;
top: 463px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #0D7229;



/* Email */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 360px;



/* Rectangle 1 */

position: absolute;
width: 550px;
height: 60px;
left: 445px;
top: 360px;

background: #FFFFFF;
border-radius: 20px;


/* Correo */

position: absolute;
width: 149px;
height: 54px;
left: 462px;
top: 360px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #0D7229;



/* @ */

position: absolute;
width: 28px;
height: 54px;
left: 940px;
top: 360px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;

color: #019129;



/* Ellipse 1 */

position: absolute;
width: 93px;
height: 86px;
left: 352px;
top: 824px;

background: #2FA34F;


/* ¿Olvidaste tu contraseña? */

position: absolute;
width: 417px;
height: 54px;
left: 511px;
top: 530px;

font-family: 'Kanit';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 54px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
text-decoration-line: underline;

color: #FFFFFF;

